@use "../../../../Scss/variables";

.topBanner_box{
    width: 100%;
   // height: variables.$width-10;
   height: fit-content;
    display: flex;
    box-sizing: border-box;
    padding: 0 150px;

    @media (max-width:400px){
        display: block;
        padding: 0;
    }


    .left_Half_optionBox{
        width: 50%;

        @media (max-width:400px){
            width: 100%;
            box-sizing: border-box;
        }
       
 h4{
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    width: 300px;
    margin: 0 ;
    font:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
 }

        .option_box{
            width: 443px;
           // height: 100%;
            padding: 20px 20px;
            gap: 10px;
            margin-top:20px ;
            border-radius: 10px;
            border: 1px solid rgb(199, 192, 192);
           // display: flex;
            justify-content: center;
            flex-wrap: wrap;

            @media (max-width:400px){
                width: auto;
                padding: 20px 0;
                border: none;
            }
            h4{
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 10px ;
               // text-align: center;
                font:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
            }

            .optionroll_box{
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
            }

            &__element{
                width: 130px;
                height: 100px;
               // border: 1px solid black;

               @media (max-width:400px){
                width: 110px;
            }

                .img_box{
                    width: 100%;
                    height: fit-content;
                      border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    background-color: rgba(245,245,245,1.00);

                    img{
                        width: 50%;
                        
                    }
                }
                h3{
                    font-size: 13px;
                    font-weight: 400;
                    text-align: center;
                    font:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
                }
            }

        }
    }


    .bottom_info{
       
        width: 100%;
        display: flex;
        gap: 40px;

        &__rating_box{
           
            width: fit-content;
            display: flex;
            margin: 30px 0 0 0;

            img{
                width: 50px;
                height: 50px;
            }

            h5{
             margin: 10px 0 0 10px;
             font-size: 18px;
            }
            h6{
                margin: 0 0 0 10px;
                font-size: 13px;
            }
        }
    }

    .right_Half_Banner{
        width: 50%;
        height: 616px;


        @media (max-width:400px){
            display: none;
        }
       

        img{
            width: 100%;
            height: 80%;
        }


    }
}