.slider-container{
   // border: 1px solid ;
    width:100%;
    display: flex;
    justify-content: center;
   

    &_box{
        width: 1060px;
       // border: 1px solid;
        display: flex;
        overflow: hidden;
        overflow-x:scroll ;
        scroll-behavior: smooth;

        @media (max-width:400px){
            width: 90%;
           
       }
    }

   

}



.slider-container_box::-webkit-scrollbar {
    display: none;
  }




.policiesImages{
    width: 340px;
    height: 150px;
    margin: 0 10px;

}

.newworthy{
    width: 250px;
    height: 300px;
    margin: 0 10px;

}


.img_box{
    display: flex;
    
   
}

.buttonBox{
 display: flex;
 height: auto;
 align-items: center;
 justify-content: center;

.right_button{
    width: 25px ;
    height: 25px;
    border-radius: 50px;
}

}

.img_box :nth-child(1){
    margin-left: 0;
}


.womenSlon{
    border: 1px solid rgb(177, 174, 174);
    margin: 0 20px;
    border-radius: 20px;
    overflow: hidden;

    @media (max-width:400px){
         width: 120px;
         height: 150px;
    }

    img{
        @media (max-width:400px){
            width:100%;
       } 
    }
}

.topHeading_vlass{
    
    padding: 0 0 0 15px;
}